*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
}
#wrap{
    background-color: #191414;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#drawing{
    width: 100%;
    height: 85%;
}
#drawCanvas{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 3px solid #FFFFFF;
}
#controls{
    box-sizing: border-box;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bottom{
    display: flex;
    flex-direction: row;
    width:33%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
button{
    box-sizing: border-box;
    background-color: #1DB954;
    border-radius: 50px;
    border:none;
    width: 150px;
    height: 75px;
    color: #FFFFFF;
    font-size: 32px;
    margin: 4px;
}
#drawButton{
    opacity: 1;
}
#title{
    
    color:white;
    font-size: 100px;
}
#numPoints{
    color: #FFFFFF;
    font-size: 32px;
    
}
